
.navbar {

     display: flex;
    
     align-items: center;
    
     justify-content: space-between;
    
     padding: 10px;
    
     background-color: black;
    
     color: #ffffff;
    
    }

    
    .nav-links a {
    
     color: #ffffff;
    
    }
    
    /* LOGO */
    
    .logo {
    
     font-size: 32px;

     border-radius: 50%;
    
    }

    .name{
     position: absolute;
     left:140px
    }

    .myfaraday {

     font-family: 'Kalam', cursive;
     color: snow;
     font-weight: bolder;
     font-size: 20px;

    }

    .electrotech {

     font-family: 'Noto Serif Toto', serif;
     font-weight: bold;
     color: snow;
     font-size: 30px;
     
     
    }
    
    /* NAVBAR MENU */
    
    .menu {
    
     display: flex;

     align-items: center;
    
     gap: 1em;
    
     font-size: 25px;
     font-weight: bold;
    
    }
    
    .menu li:hover {
    
     background-color: #4c9e9e;
    
     border-radius: 5px;
    
     transition: 0.3s ease;
    
    }
    
    .menu li {
    
     padding: 5px 14px;
    
    }
    
    /* DROPDOWN MENU */
    
    .services {
    
     position: relative; 
    
    }
    
    .servicesDropdown {
    
     background-color: rgb(1, 139, 139);
    
     padding: 1em 0;
    
     position: absolute; /*WITH RESPECT TO PARENT*/
    
     display: none;
    
     border-radius: 8px;
    
     top: 39px;

     right: -35px;

     left: -35px;
    
    }
    
    .servicesDropdown li + li {
    
     margin-top: 10px;
    
    }
    
    .servicesDropdown li {
    
     padding: 0.5em 1em;
    
     width: 8em;
    
     text-align: center;
    
    }
    
    .servicesDropdown li:hover {
    
     background-color: #4c9e9e;
    
    }
    
    .services:hover .servicesDropdown {
    
     display: block;
    
    }

    
    .accountBtn {
     border: none;
     cursor: pointer;
   }
   
   /* The container <div> - needed to position the dropdown content */
   .accBtn {
     position: relative;
     display: inline-block;
   }
   
   /* Dropdown Content (Hidden by Default) */
   .accountBtnDropdown {
    background-color: rgb(1, 139, 139);
    padding: 0.5em 0;
    position:absolute;
    display: none;
    width:max-content;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    top: 100px;
    right: 0px;
    left:auto;
    align-items: center;
   }
   .accountBtnDropdown h4 {
    background: none!important;
    width: 100% !important;
    color: snow;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    border: #ffffff;
    font-weight: bold;
    padding: 0em 1em;
    opacity: 0.5;
    align-self: center !important;
  }
   
   /* Links inside the dropdown */
   .accountBtnDropdown a, button {
     background: none!important;
     width: 100%;
     color: snow;
     font-family:'Times New Roman', Times, serif;
     cursor: pointer;
     border: #ffffff;
     font-weight: bold;
     align-self: center !important;
   }
   
   /* Change color of dropdown links on hover */
   .accountBtnDropdown a.accBtnDropdownOptions:hover, button:hover {
    background-color: #4c9e9e;
  }

  .accountBtnDropdown a.logOutBtn:hover {
    background-color: rgb(255, 94, 94);
  }
   
